
<div class="main-block main-width">
    <h1 data-i18n="main.title" class="main-block__title">Go OG — Follow the Trends</h1>
    <div data-i18n="main.description" class="main-block__description">A community-driven platform discovering and tracking sports content across MENA.</div>
    <div class="main-block__search">
        <form class="main-block__form">
             <button type="submit" class="main-block__btn">
            </button>
            <input data-i18n-placeholder="main.button" type="text" class="main-block__input" placeholder="Search Trends & News" />
        </form>
    </div>
    <div class="top-news">
        <div class="top-news__list">
            <div class="top-news__item">
                <div class="top-news__country">Turkey</div>
        </div>
    </div>
</div>  